USE [BankDB]
GO
/****** Object:  Table [dbo].[LU_comp_location]    Script Date: 4/21/2024 5:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LU_comp_location](
	[location_id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[city_id] [int] NOT NULL,
	[type_id] [tinyint] NOT NULL,
 CONSTRAINT [PK_LU_comp_location] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LU_comp_location] ON 

INSERT [dbo].[LU_comp_location] ([location_id], [name], [address], [city_id], [type_id]) VALUES (1, N'SF-C-94119', N'101 Main Street', 36821, 1)
INSERT [dbo].[LU_comp_location] ([location_id], [name], [address], [city_id], [type_id]) VALUES (2, N'O-C-32801', N'699 Chula Plz', 12713, 1)
INSERT [dbo].[LU_comp_location] ([location_id], [name], [address], [city_id], [type_id]) VALUES (3, N'A-C-78758', N'1861 Heather Park', 32193, 1)
GO
SET IDENTITY_INSERT [dbo].[LU_comp_location] OFF
GO
ALTER TABLE [dbo].[LU_comp_location]  WITH NOCHECK ADD  CONSTRAINT [FK_comp_location_comp_location_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[LU_comp_location_type] ([location_type_id])
GO
ALTER TABLE [dbo].[LU_comp_location] CHECK CONSTRAINT [FK_comp_location_comp_location_type]
GO
ALTER TABLE [dbo].[LU_comp_location]  WITH CHECK ADD  CONSTRAINT [FK_LU_comp_location_LU_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[LU_city] ([city_id])
GO
ALTER TABLE [dbo].[LU_comp_location] CHECK CONSTRAINT [FK_LU_comp_location_LU_city]
GO
