USE [BankDB]
GO
/****** Object:  Table [dbo].[LU_comp_position_location]    Script Date: 4/21/2024 5:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LU_comp_position_location](
	[position_location_id] [smallint] IDENTITY(1,1) NOT NULL,
	[location_id] [smallint] NOT NULL,
	[position_id] [smallint] NOT NULL,
 CONSTRAINT [PK_LU_comp_position_location] PRIMARY KEY CLUSTERED 
(
	[position_location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LU_comp_position_location] ON 

INSERT [dbo].[LU_comp_position_location] ([position_location_id], [location_id], [position_id]) VALUES (1, 1, 1)
INSERT [dbo].[LU_comp_position_location] ([position_location_id], [location_id], [position_id]) VALUES (2, 1, 2)
INSERT [dbo].[LU_comp_position_location] ([position_location_id], [location_id], [position_id]) VALUES (3, 1, 4)
GO
SET IDENTITY_INSERT [dbo].[LU_comp_position_location] OFF
GO
ALTER TABLE [dbo].[LU_comp_position_location]  WITH CHECK ADD  CONSTRAINT [FK_comp_position_location_comp_location] FOREIGN KEY([location_id])
REFERENCES [dbo].[LU_comp_location] ([location_id])
GO
ALTER TABLE [dbo].[LU_comp_position_location] CHECK CONSTRAINT [FK_comp_position_location_comp_location]
GO
ALTER TABLE [dbo].[LU_comp_position_location]  WITH CHECK ADD  CONSTRAINT [FK_comp_position_location_comp_position] FOREIGN KEY([position_id])
REFERENCES [dbo].[LU_comp_position] ([position_id])
GO
ALTER TABLE [dbo].[LU_comp_position_location] CHECK CONSTRAINT [FK_comp_position_location_comp_position]
GO
