USE [BankDB]
GO
/****** Object:  Table [dbo].[LU_bank_routing]    Script Date: 4/21/2024 5:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LU_bank_routing](
	[bank_routing_id] [int] IDENTITY(1,1) NOT NULL,
	[bank_name] [varchar](100) NOT NULL,
	[routing_num] [varchar](9) NOT NULL,
 CONSTRAINT [PK_LU_bank_routing] PRIMARY KEY CLUSTERED 
(
	[bank_routing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LU_bank_routing] ON 

INSERT [dbo].[LU_bank_routing] ([bank_routing_id], [bank_name], [routing_num]) VALUES (1, N'1st National Bank', N'039372006')
INSERT [dbo].[LU_bank_routing] ([bank_routing_id], [bank_name], [routing_num]) VALUES (2, N'Academy Bank', N'105555921')
INSERT [dbo].[LU_bank_routing] ([bank_routing_id], [bank_name], [routing_num]) VALUES (3, N'ADP Trust Company', N'120936524')
GO
SET IDENTITY_INSERT [dbo].[LU_bank_routing] OFF
GO
