USE [BankDB]
GO
/****** Object:  Table [dbo].[LU_stock_exchange_to_ticker]    Script Date: 4/21/2024 5:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LU_stock_exchange_to_ticker](
	[exchange_id] [smallint] NOT NULL,
	[stock_id] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LU_stock_exchange_to_ticker] ([exchange_id], [stock_id]) VALUES (1, 1)
INSERT [dbo].[LU_stock_exchange_to_ticker] ([exchange_id], [stock_id]) VALUES (1, 2)
INSERT [dbo].[LU_stock_exchange_to_ticker] ([exchange_id], [stock_id]) VALUES (1, 3)
GO
ALTER TABLE [dbo].[LU_stock_exchange_to_ticker]  WITH CHECK ADD  CONSTRAINT [FK_LU_stock_exchange_to_ticker_LU_stock_exchange] FOREIGN KEY([exchange_id])
REFERENCES [dbo].[LU_stock_exchange] ([stock_exchange_id])
GO
ALTER TABLE [dbo].[LU_stock_exchange_to_ticker] CHECK CONSTRAINT [FK_LU_stock_exchange_to_ticker_LU_stock_exchange]
GO
ALTER TABLE [dbo].[LU_stock_exchange_to_ticker]  WITH CHECK ADD  CONSTRAINT [FK_LU_stock_exchange_to_ticker_LU_stock_list] FOREIGN KEY([stock_id])
REFERENCES [dbo].[LU_stock_list] ([stock_id])
GO
ALTER TABLE [dbo].[LU_stock_exchange_to_ticker] CHECK CONSTRAINT [FK_LU_stock_exchange_to_ticker_LU_stock_list]
GO
