USE [BankDB]
GO
/****** Object:  Table [dbo].[LU_comp_position]    Script Date: 4/21/2024 5:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LU_comp_position](
	[position_id] [smallint] IDENTITY(1,1) NOT NULL,
	[position_name] [varchar](100) NOT NULL,
	[department_id] [smallint] NOT NULL,
	[salary_range_low] [decimal](10, 2) NOT NULL,
	[salary_range_high] [decimal](10, 2) NOT NULL,
	[parent_position_id] [smallint] NULL,
	[position_removed] [bit] NOT NULL,
 CONSTRAINT [PK_LU_comp_position] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LU_comp_position] ON 

INSERT [dbo].[LU_comp_position] ([position_id], [position_name], [department_id], [salary_range_low], [salary_range_high], [parent_position_id], [position_removed]) VALUES (1, N'Chief Executive Officer', 44, CAST(150000.00 AS Decimal(10, 2)), CAST(1000000.00 AS Decimal(10, 2)), NULL, 0)
INSERT [dbo].[LU_comp_position] ([position_id], [position_name], [department_id], [salary_range_low], [salary_range_high], [parent_position_id], [position_removed]) VALUES (2, N'Chief Financial Officer', 44, CAST(150000.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)), 1, 0)
INSERT [dbo].[LU_comp_position] ([position_id], [position_name], [department_id], [salary_range_low], [salary_range_high], [parent_position_id], [position_removed]) VALUES (3, N'Vice President of Finance', 15, CAST(100000.00 AS Decimal(10, 2)), CAST(250000.00 AS Decimal(10, 2)), 2, 0)
GO
SET IDENTITY_INSERT [dbo].[LU_comp_position] OFF
GO
ALTER TABLE [dbo].[LU_comp_position]  WITH CHECK ADD  CONSTRAINT [FK_comp_position_comp_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[LU_comp_department] ([department_id])
GO
ALTER TABLE [dbo].[LU_comp_position] CHECK CONSTRAINT [FK_comp_position_comp_department]
GO
