USE [BankDB]
GO
/****** Object:  Table [dbo].[LU_currency]    Script Date: 4/21/2024 5:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LU_currency](
	[currency_id] [smallint] NOT NULL,
	[currency_abbr] [varchar](3) NOT NULL,
	[currency_name] [varchar](100) NOT NULL,
	[exchange_rate] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_LU_currency] PRIMARY KEY CLUSTERED 
(
	[currency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LU_currency] ([currency_id], [currency_abbr], [currency_name], [exchange_rate]) VALUES (1, N'AAD', N'Antarctican dollar', CAST(0.0156 AS Decimal(18, 4)))
INSERT [dbo].[LU_currency] ([currency_id], [currency_abbr], [currency_name], [exchange_rate]) VALUES (2, N'AED', N'United Arab Emirates dirham', CAST(3.6724 AS Decimal(18, 4)))
INSERT [dbo].[LU_currency] ([currency_id], [currency_abbr], [currency_name], [exchange_rate]) VALUES (3, N'AFN', N'Afghan afghani', CAST(71.0600 AS Decimal(18, 4)))
GO
